html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;  
}
header {
  align-items: center;
}
.navegation-menu{
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  align-items: center;
  gap: 380px; 
}
.icons-right{
  width: 30px; 
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.barra-navegacao-superior{
  margin-right: 10px;
  margin-left: 10px;
}

.middle {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 20px;
}
.right {
  display: flex;
  font-size: 25px;
  margin-right: 75px;
}
.left {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.filterbar {
  width: 100;
  height: 100px; 
  background-color: #F9F1E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adicionando padding para espaçamento interno */
  box-sizing: border-box;
}
.filterbar .filterbar-itens {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.results{
  margin-left: 20px; 
  white-space: nowrap; 
  font-size: 16px; 
  font-family: "Poppins", sans-serif;
}
.vertical-line {
  border-left: 1px #9F9F9F solid;
  height: 40px; /* Ajuste a altura conforme necessário */
  display: inline-block;
}
.show-items {
  display: flex;
  align-items: center;
}
.item-list {
  width: calc(100% - 40px);
  list-style-type: none;
  padding: 0;
  margin: 20px; /* Adiciona margem para separar da filterbar */
  margin-left: 50px;
  margin-right: 50px;
  display: flex; /* Para exibição em linha */
  flex-wrap: wrap; /* Para quebrar a linha quando necessário */
  gap: 185px; /* Espaçamento entre os itens */
  box-sizing: border-box; /* Para garantir que o espaçamento não ultrapasse o container */
}

.item {
  height: 250px;
  width: 215px;
  border: 1px solid black;
  display: flex; /* Para garantir que a imagem preencha o item */
  align-items: center;
  justify-content: center;
}
.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  background-color: #F9F1E7;
  border: none;
}
.pagination button.active {
  background-color: #B88E2F;
  border: none;
}
.advantages-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 150px;
  background-color: #FAF3EA; /* Adicione a cor de fundo desejada */
}
.advantage {
  display: flex;
  align-items: center;
}
.advantage img {
  width: 50px; /* Ajuste o tamanho do ícone */
  margin-right: 20px;
}
.advantage-text h3 {
  font-size: 24px;
  color: #000; /* Cor do título */
}
.advantage-text p {
  font-size: 16px;
  color: #666; /* Cor da descrição */
}
.footer {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  width: 100%;    
  height: 60px;
  background-color: #ffffff;
}
.footer .section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .section h3 {
  order: 1;
}

.footer .section a, .footer .section form {
  order: 2;
}